<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344296994718-nrfcasl3m690prle820pi54pimd5e1pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344296994718-nrfcasl3m690prle820pi54pimd5e1pq</string>
	<key>API_KEY</key>
	<string>AIzaSyAm8EGnR8wI6S-8pWKjCkrRQ94dAdxDvqg</string>
	<key>GCM_SENDER_ID</key>
	<string>344296994718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signofftogether.iOS</string>
	<key>PROJECT_ID</key>
	<string>signoff-d0bc0</string>
	<key>STORAGE_BUCKET</key>
	<string>signoff-d0bc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344296994718:ios:e5ded894c53f1f051a488f</string>
	<key>DATABASE_URL</key>
	<string>https://signoff-d0bc0.firebaseio.com</string>
</dict>
</plist>